header
{ background-color: #D6A0F4;
  font-family: "times new roman", "fantasy";
  font-size: 2.5em;
}
aside {
  width: 35%;
  padding-left: 0px;
  margin-left: 0px;
  padding-right: 4px;
  margin-right: 4px;
  float: left;
}
footer
{ background-color: #D6A0F4;
  font-family: "times new roman", "fantasy";
  font-size: 1em;
}
